.grey{
    background: grey;
    height: 2000px;
    margin-top: 600px;
    margin-bottom: 1600px;
}

.white{
    background-color: white;
    height: 4000px;
    margin-top: 600px;
}

.sticky{
    position: fixed;
    top: 100px;
    float: right;
}

.left-text{
    float: left;
    color: black;
    padding: 10px;
}